<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <h5>Georgi Koemdzhiev</h5>
      <img style="width: auto;height: 12em;" src="assets/profile_pic.jpg" alt="my profile picure">
      <div class="row">
        <ul class="list-unstyled">
          <li>
            <a class="nav-link active" href="https://github.com/georgikoemdzhiev"><i class="fa fa-github-square"></i>
              Github</a>
          </li>
          <li>
            <a class="nav-link active" href="https://stackoverflow.com/users/3398554/georgi-koemdzhiev"><i
                class="fa fa-stack-overflow"></i>
              Stack Overflow</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col">

    </div>
  </div>
</div>