<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h5>Georgi Koemdzhiev</h5>
      <img id="profile_pic" src="assets/profile_pic.jpg" alt="my profile picure">
      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/georgikoemdzhiev" target="_blank"><i class="fa fa-github-square"></i>
            Github</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/users/3398554/georgi-koemdzhiev" target="_blank"><i
              class="fa fa-stack-overflow"></i>
            Stack Overflow</a>
        </li>
        <li>
          <a href="https://twitter.com/GKoemdzhiev" target="_blank"><i class="fa fa-twitter-square"></i>
            Twitter</a>
        </li>
        <li>
          <a href="mailto:koemdjiev@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email</a>
        </li>
      </ul>

      <a id="source_code_link" class="fixed-bottom" href="https://github.com/georgikoemdzhiev/georgiko.com"
        target="_blank"><i class="fa fa-code-fork"></i> Source code</a>

    </div>
    <div class="col-md-10">
      <H5 class="font-weight-bolder">Posts</H5>
      <p>&lt;To be added here&gt;</p>
    </div>
  </div>
</div>